root {
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
}
.box {
  width: 404px;
  height: 490px;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 30px;
  margin: auto;
}
.welcome {
  text-transform: lowercase;
  margin-top: 30px;
  margin-bottom: 40px;
  letter-spacing: 1rem;
  font-size: 1.9em;
  font-weight: 600;
}

p {
  text-transform: lowercase;
  margin-top: 40px;
  margin-bottom: 20px;
  letter-spacing: 1rem;
  font-size: 1.7em;
  font-weight: 600;
}
.login {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  letter-spacing: 0.4rem;
  font-weight: 800;
  text-decoration: none;
  color: white;
  display: block;
  width: 302px;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 13px;
}
.signup {
  margin-top: 26px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
  letter-spacing: 0.4rem;
  font-weight: 800;
  text-decoration: none;
  color: white;
  display: block;
  width: 302px;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 13px;
}
